<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aiplant">

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Include following permission if you want to get images from SD card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Include following permission if you want to read anything from storage -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--getting the wifi state permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/growth_plant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/growth_plant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,ExtraText,GoogleAppIndexingWarning">

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user_profile.User_Profile"
            android:screenOrientation="portrait" />

        <activity android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">


        </activity>
    </application>

</manifest>